body {
    background-color: white;
    font-family: "Open Sans";
}

h1 {
    color: #1946ba;
    margin-left: 0;
}

h2 {
    color: black;
    margin-left: 2%;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    max-width: 960px;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

th.des:after {
    color: black;
    content: "\21E9";
}

th.aes:after {
    color: black;
    content: "\21E7";
}

th {
    text-align: left;
}

th, td {
    padding: 0.5ex 1em 0.5ex 1em;
}

th, td.center {
    text-align: center;
}

td.num {
    text-align: right;
}

table.fixed {
    table-layout: fixed;
    width: 100%;
}

table.fixed td {
    overflow: hidden;
}

table.fixed th:nth-child(1) {
    width: 30%;
}

table.fixed th:nth-child(2) {
    width: 15%;
}

table.fixed th:nth-child(3) {
    width: 10%;
}

table.fixed th:nth-child(4) {
    width: 15%;
}

table.fixed th:nth-child(5) {
    width: 20%;
}

table.fixed th:nth-child(6) {
    width: 10%;
}

#filter {
    margin: 0 0 1em 0;
}

.container label {
    border: none;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 6px 7px;
    margin-right: 5px;
    margin-left: 1em;
    text-decoration: none;
    cursor: pointer;
}

div.filters {
    border-style: solid;
    border-color: aliceblue;
    padding: 1em;
}

.table {
    margin-top: 2em;
}

.container span {
    float: left;
    width: 80px;
}