body {
    background-color: white;
    font-family: "Open Sans";
}

.label_node {
    font-size: 12px;

}
.dot_node {
    fill: white;
    stroke: #1E90FF;
    stroke-width: 1.4px;
}
.node:hover .dot_node {
    fill:  #1E90FF;
}
.node:hover .label_node {
    font-weight: bolder;
}
#graph
{
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-left: 20px;
    /*width: 90%;*/
}
.links line {
    stroke: #999;
    stroke-opacity: 0.15px;
}
/*.nodes circle {*/
    /*stroke: #fff;*/
    /*stroke-width: 1px;*/
/*}*/

h1 {
    display: inline-block;
    color: #1946ba;
    margin-left: 0;
    margin-right: 1em;
}

/* Header switch*/
.header_group {
    display: inline-block;
}
.btn {
    border: 3px solid aliceblue;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}
.barGroup text {
    font-size: 12px;
}
input[type="radio"].toggle {
    display: none;
}
input[type="radio"].toggle + label {
    cursor: pointer;
    min-width: 70px;
    color: #1946ba;
}
input[type="radio"].toggle + label:hover {
    background: none;
    color: #1946ba;
}
input[type="radio"].toggle + label:after {
    background: aliceblue;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
}
input[type="radio"].toggle.toggle-left + label {
    border-right: 0;
}
input[type="radio"].toggle.toggle-left + label:after {
    left: 100%;
}
input[type="radio"].toggle.toggle-right + label {
    margin-left: -5px;
}
input[type="radio"].toggle.toggle-right + label:after {
    left: -100%;
}
input[type="radio"].toggle:checked + label {
    cursor: default;
    color: #1946ba;
    font-weight: bold;
    transition: color 200ms;
}
input[type="radio"].toggle:checked + label:after {
    left: 0;
}
/* End of header switch*/

/* Multi tabs styles*/
/*.table {*/
    /*display: none;*/
/*}*/
/*#bar_filter {*/
    /*display: block;*/
/*}*/
.bar {
    display: none;
}
#bar_filter {
    display: none;
}
h2 {
    color: black;
    margin-left: 2%;
}

.bar svg {
    display:block;
    margin: 20px auto;
}
.content {
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    max-width: 960px;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

th.des:after {
    color: black;
    content: "\21E9";
}

th.aes:after {
    color: black;
    content: "\21E7";
}

th {
    text-align: left;
}

th, td {
    padding: 0.5ex 1em 0.5ex 1em;
}

th, td.center {
    text-align: center;
}

td.num {
    text-align: right;
}

table.fixed {
    table-layout: fixed;
    width: 100%;
}

table.fixed td {
    overflow: hidden;
}

table.fixed th:nth-child(1) {
    width: 30%;
}

table.fixed th:nth-child(2) {
    width: 15%;
}

table.fixed th:nth-child(3) {
    width: 10%;
}

table.fixed th:nth-child(4) {
    width: 15%;
}

table.fixed th:nth-child(5) {
    width: 20%;
}

table.fixed th:nth-child(6) {
    width: 10%;
}

#filter {
    margin: 0 0 1em 0;
}

.container label {
    border: none;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 6px 7px;
    margin-right: 5px;
    margin-left: 1em;
    text-decoration: none;
    cursor: pointer;
}

#slider {
    margin-top: 0.2em;
}

div.filters {
    border-style: solid;
    border-color: aliceblue;
    padding: 1em;
}

.table {
    margin-top: 2em;
}

.container span {
    float: left;
    width: 120px;
}

label.years {
    cursor: default;
    width: auto;

}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    /*required for proper track sizing in FF*/
    width: 250px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 200px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: dodgerblue;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: dodgerblue;
}

/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: dodgerblue;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

#mix_filters {
    display: none;
}
